.tag-list {
    padding-top: 1.5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;    
    row-gap: .5em;
    column-gap: .5em;

    &__item {
        padding-top: .5em;
        padding-bottom: .5em;
        border: 2px solid black;
        border-radius: 5px; 
    }

    &__item__text {
        padding-left:  .7em;
        padding-right: .7em;
    }

    &__item__close {
        background-color: black;
        color: white;
        position: relative;
        padding:  .0em .2em;
        margin-right: .2em;
        border-radius: 30%;
    }

    @mixin atMedium {
        margin-top: 1em;
    }
}