.view-single-item {
    
    
    &__item{
        display: block;
        background-color: #fff;
        padding: 1em;
        margin-top: 1em;
        width: 100%;
    }
    
    &__item__image {
        border: 1px solid black;
    }

    &__item__descr {
        padding-top: 0;
    }

    @mixin atMedium {
        display: flex;    
        flex-direction: row;

        &__item + &__item {
            margin-left: 1em;
        }

        &__item__image {
            padding: 0;
        }
    }
}